body{
    background:black;
    color:aquamarine;
}

h1{
    color:aquamarine;
    padding: 25px;
    background-color:darkturquoise;
    border:10px dotted white;
    
}

.title{
    border:10px solid white;
    
    
}

.paragraph{
    border:10px dotted blue;
    padding: 25px;
    background-color:azure;
        
}

.paragraphtwo{
    border:10px dotted yellow;
    padding:25px;
    background-color:blueviolet;
}

