body{
    background:white;
    color:blue;
    padding:25px;
    font-family:serif;
}

h1{
    color:white;
    font-family:serif;
    font-style:cursive;
    padding: 25px;
    background-color:green;
    border:none;
    text-align:center;
    
}

.extra{
    font-family:serif;
    text-decoration:underline;
    
}

.paragraph{
    font-family:serif;
    color:white;
    padding:45px;
    line-height: 25px;
    text-align:center;
    background-color:aquamarine;
    
}

p{
    font-family:arial;
    background-color:white;
    color:fuchsia;
    padding:25px;
    line-height:25px;
    text-align:center;
    
    
}



