body{
    background:white;
    color:blue;
    padding:25px;
    font-family:arial;
}

.title{
    font-family:sans-serif;
}

h1{
    color:white;
    font-family:arial;
    font-style:normal;
    padding: 25px;
    background-color:blue;
    border:5px dotted white;
    
}





