@font-face {
    font-family: 'apercu-regular';
    src: url('/fonts/apercu_regular.otf') format('opentype');
}




/*Universal Reset*/
*{
    margin:0; 
    padding:0;
    box-sizing:border-box;
}


/*Global Styles*/

body {
    font-family: 'apercu-regular';
}

/* ---- grid ---- */

.grid {
  background:none;
  max-width: 1200px;
}

/* clear fix */
.grid:after {
  content: '';
  display: block;
  clear: both;
}

/* ---- .grid-item ---- */

.grid-item {
  float: left;
  box-sizing: border-box;
}

.grid-item a {
    margin: 0;
    padding: 0;
}

.grid-item img {
    margin: 0;
    padding: 0;
    width: 100%;
}

.grid-item--width2 { width: 200px; }
.grid-item--height2 { height: 200px; }


/*--------NAVITATION AND HEADER--------*/


a{
    color:black;
    text-decoration:none;
    padding:10px;
    
    /*Transition and webkit to support all browsers*/
    
    transition:all .5s ease;
        -webkit-transition:all .5s ease;
}

a:hover{
    color:black;
    text-decoration:underline;
    
}

header{
    width:100%;
    padding:30px;
    position:fixed;
    top:0px;
    z-index:1;
   
}


.mainnav{
    text-align:center;
    list-style-type:none;
}


.mainnav ul li{
    font-size:25px;
    color:black;
    display:inline-block;
    text-decoration:none;
    padding-left:60px;
    padding-right:60px;
    line-height:45px;
    list-style-type:none;
}


/*--------INFO PAGE--------*/

.introcontent{
    text-align:center;
    margin:200px auto;
    max-width:650px;

}

h2{
    font-size:30px;
    font-weight:100;
    line-height:43px;
}


.contact{
    font-size:20px;
    text-decoration:none;
    padding-top:60px;
}


p{
    padding:10px;
    font-size:18px;
}

/*--------RESUME--------*/


.categories{
    font-size:18px;
    font-weight:bold;
    padding-bottom:25px;
    margin-top:20px;
    margin-left:10px;
    
}

.resume{
    margin-top:200px;
    font-size:16px;
    left:30px;
    margin-left:50px;
}


.experience{
    font-size:18px;
    margin-top:10px;
}

ul{
    margin-left:-8px;
}

.pdf p{
    margin-left:50px;
    margin-top:20px;
}

img {
    width:100%;
}


h5{
    font-size:18px;
    font-weight:normal;
    text-decoration:underline;
    margin-left:10px;
    margin-bottom:-5px;
    
}

/*--------PROJECTS--------*/


.container{
    max-width:1100px;
    position:relative;
    margin: 100px auto;
}

.title{
    font-size:17px;
    padding:8px;
    text-align:center;
}

.hellokitty{
   width: 250px;
}

.bollywood{
    width:350px;
}

.otisbiz{
   width: 250px;
}

.talleres{
    width:300px;
}


.ceremony{
    width:225px;
}

.mentorship{
    width:265px;
}


.plants{
    width:260px;
}

.jerryhsu{
    width:370px;

}

.floatinginspace{
    width:250px;

}

.springs{
    width:250px;
}

.smellslike{
    width:300px;
}

.otistote{
    width:275px;
}

.needs{
    width:290px;
}

.brief{
    width:250px;
}

ul{
    text-decoration:none;
    list-style-type:none;   
}


li{
    font-size:18px;
    line-height:30px;
    margin-left:20px;
    
}

h3{
    margin-left:20px;
}

h4{
    font-size:18px;
    font-weight:100;
    text-decoration:underline;
    margin-left:20px;
}


h6{
    font-size:18px;
    font-weight:normal;
    padding-top: 15px;

}

/*--------PROJECT PAGES-------*/


.hk-photo{
    float:left;
    max-width:350px;
    margin-left:20%;
    margin-top:200px;
    padding:20px;
}

.description{
    float:right;
    max-width:400px;
    margin-right:275px;
    margin-top:200px;
    padding:20px;
    text-align:center;
    line-height:1.5em;
    
}


.description p{
    
    padding-top:15px;
    margin-top:-600px;
    
}

.biz-photo{
    float:left;
    max-width:400px;
    margin-left:20%;
    margin-top:200px;
    padding:10px;
}

.biz-photo2{
    max-width:400px;
    margin-left:20%;
    padding:10px;
}


/*General Layout*/





}
/*Media Queries*/




@media screen and (min-width: 480px){

    body{
        background-color:yellow;
    }
    
    .grid-item{
        border: 3px solid red;
    }
        
            
    }
    
}


